body {
    text-align: center;
    color:whitesmoke;
    background: black;
    background: url("../images/wall.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 { color: darkturquoise
}

#title {
    padding: 40px;
}

#start {
    padding-top: 50px;
}

#btn-custom {
    width: 50%;
}

#question {
    padding-bottom: 40px;
}

button {
    width: 800px;
    border: 0;
    background: darkgray
}

button:hover {
    background: rgb(29, 189, 192);
}

.selection {
    font-size: x-large;
}